<!DOCTYPE html>
<html>
<head>
  <title>EventCapture</title>
  <%= stylesheet_link_tag    "event_capture/application", media: "all" %>
  <%= javascript_include_tag "event_capture/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
